.container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.footer {
  margin-left: auto;
    margin-right: 10%;
    display: flex;
    margin-bottom: 30px;
}

.footer > div {
  margin-left: 10px;
  border: 2px solid gray;
  margin-left: 10px;
    border: 2px solid gray;
    padding: 10px 20px;
    color: blue;
}

.rangeSilderContainer {
  /* border: 2px solid red; */
}

.rangeSilderContainer > .multi-range-slider {
  box-shadow: none !important;

}



.range  {
  /* background-color: red; */
  /* border: 2px solid red; */
}